.buscar-page-content {
    padding-top: 130px;
    display: grid;
    justify-content: center;
    grid-template-columns: 6fr 6fr;
    margin: 0 auto;
    width: 95%;
    height: 100vh;
    @media screen and (max-width: 768px) {
      display: block;
      justify-content: center;

      }
}

.form-search-posts {
    display: flex;
    justify-content: center;
}

.post-search-item {
    padding: 20px;
    color: white;
    border: 1px solid whitesmoke;
    margin: 5px;
    border-radius: 10px;
}

.search-results {
  width: 100%;
  @media screen and (max-width: 768px) {
    width: 100%;
    justify-content: center;
    padding-left: 100px;
    padding-top: 80px;
    }
}

.h2-search {
  color: whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.h4-search {
  color: white;
}


/* CSS */
.btn-buscar {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #00d6b7 0, #35c3c1 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 30px;
  margin-left: 10px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.btn-buscar:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #35c3c1 0 -3px 0 inset;
}

.btn-buscar:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #499998 0 -3px 0 inset;
  transform: translateY(-2px);
}

.btn-buscar:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.input-global {
    border: none;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(107, 105, 105);
}

.edit-search-page {
  margin-left: 5px;
  cursor: pointer;
}


