/* CARDS SCSS */
@mixin absolute($top, $right, $bottom, $left) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
  }
  
  @keyframes panning {
    0%{
      transform: translateX(-25%) translateY(-25%);
    }
    20% {
      width: 250%;
      transform: translateX(0) translateY(-50%);
    }
    40% {
      width: 230%;
      transform: translateX(-25%) translateY(-50%);
    }
    60% {
      width: 210%;
      transform: translateX(-50%) translateY(-25%);
    }
    70% {   
      width: 240%;
      transform: translateX(-25%) translateY(-25%);    
    }
    80% {
      width: 220%;
      transform: translateX(-25%) translateY(-50%);    
    }
    100% {
      width: 210%;
      transform: translateX(-25%) translateY(-25%);     
    }
  }
  
  @keyframes slideFadeDown {
    0% {
      transform: translateY(-30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  *, *:after, *:before {
    box-sizing: border-box;
  }
  
  body {
    background-color: #ecf0f1;
  }

  .home-content {
    padding-top: 120px;
    width: 95%;
    display: grid;
    grid-template-columns: repeat( 1, 1fr);
    gap: 10px;
    @media screen and (min-width: 300px) {
      grid-template-columns: repeat( 1, 1fr);
      }
      @media screen and (min-width: 500px) {
        grid-template-columns: repeat( 2, 1fr);
      }
    @media screen and (min-width: 769px) {
      grid-template-columns: repeat( 3, 1fr);
      }
    @media screen and (min-width: 1300px) {
      grid-template-columns: repeat( 4, 1fr);
      }
  }
  
  .card {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 30px auto;
    overflow: hidden;
    font-size: 14px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 1px rgba(#222, .5);
    transition: box-shadow 1s;
  }
  
  .card-title, .card-body {
    @include absolute(10px, 10px, 10px, 10px);
    overflow: hidden;
    line-height: 0;
  }
  
  .card-title {
    h3 {
      @include absolute(20%, 0, auto, 0);
      z-index: 10;
      color: rgba(0, 0, 0, 0.623);
      font-family: Oswald;
      line-height: 1em;
      text-transform: uppercase;
      text-align: center;
      transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    }
    h4{
      @include absolute(40%, 0, auto, 0);
      z-index: 10;
      color: rgba(0, 0, 0, 0.623);
      font-family: Oswald;
      line-height: 1em;
      text-transform: uppercase;
      text-align: center;
      margin-top: 90px;
      transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    }
    h3 {
      font-size: 20px;
      line-height: 1em;
      letter-spacing: .04em;
      &:after {
        content: "";
        display: block;
        width: 50%;
        height: 1px;
        margin: 2px auto;
        background-color: white;
      }
    }
    h4 {
      top: 60%;    
      font-weight: 300;
      line-height: 1em;
      letter-spacing: .22em;
      animation: slideFadeDown .5s;
      }
    }
  
  
  .card-body {
    p {
      @include absolute(30%, 0, auto, 0);
      z-index: 12;
      padding: 0 30px;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.623);;
      font-family: Source Code Pro;
      line-height: 1.2em;
      text-align: center;
      margin-bottom: 20px;
      transform: translateX(100%) translateY(-50%);
      transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    }
    .edit {
      @include absolute(40%, 0, auto, 0);
      z-index: 12;
      padding: 0 30px;
      font-size: 18px;
      border-radius: 5px;
      color: rgba(0, 0, 0, 0.623);;
      font-family: Source Code Pro;
      line-height: 1.2em;
      text-align: center;
      border: none;
      transform: translateX(100%) translateY(-50%);
      transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
      margin-top: 150px;
      cursor:pointer;
    }
    
  }
  
  .card:hover {
    box-shadow: 0 0 20px rgba(#222, .3);
    .card-title h3:before {
      background-color: rgba(#2c3e50, .8);
    }
    h3, h4 {
      transform: translateX(-100%);
    }
    .card-body p, .edit {
      transform: translateX(0) translateY(-50%);
      opacity: 1;
    }
  }