
.logo {
	margin: 0;
	font-size: 1.45em;
    font-family: 'Montserrat';
}


.main-nav {
	margin-top: 5px;
}

.logo li,
.main-nav li {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav .nav-link, .navbar-logout, .navbar-span  {
	color: var(--action-button-color);
	font-size: 17px;
    transition: 0.3s ease-in-out;
}

.header {
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid #a2a2a2;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    transition: box-shadow 0.3s ease-in-out;
	position: fixed;
	z-index: 100;
	background-color: whitesmoke;
}

.header:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.849);
}

@media (min-width: 300px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}
    .main-nav .nav-link:hover {
        color: var(--main-color);
        font-size: 17px;
    }

	.main-nav .navbar-logout:hover {
		color:var(--action-red-color);
		cursor: pointer;
		font-size: 17px;
	}

	.main-nav .navbar-span:hover {
		font-size: 17px;
	}

}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

    .logo {
        margin: 0;
        font-size: 45px;
        padding-left: 30px;
    }

    .main-nav .nav-link:hover {
        color: var(--main-color);
        font-size: 18px;
    }

	.main-nav .navbar-logout:hover {
		color:rgb(223, 70, 70);
		font-size: 18px;
		cursor: pointer
	}

    .main-nav {
        margin-top: 5px;
        padding-right: 30px;
    }

}